name: Tests

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  non-billable:
    name: Non-Billable Tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
        token: ${{ secrets.GH_TOKEN }}

    - name: Setup test environment
      uses: ./.github/actions/setup-test-environment

    - name: Setup isolated test database
      run: mkdir -p ~/.cache/ao/tests/non-billable

    - name: Launch main server
      run: |
        export PATH="$HOME/miniconda/bin:$PATH"
        export DB_PATH="$HOME/.cache/ao/tests/non-billable"
        export PYTHON_PORT=5959
        source $HOME/miniconda/bin/activate ao
        ao-server start

    - name: Run tests
      env:
        DB_PATH: ~/.cache/ao/tests/non-billable
        PYTHON_PORT: 5959
      run: |
        export PATH="$HOME/miniconda/bin:$PATH"
        source $HOME/miniconda/bin/activate ao
        pytest -v -s tests/non_billable/

    - name: Clean up
      if: always()
      run: rm -rf ~/.cache/ao/tests/non-billable
